.FAQ {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

h1 {
  font-size: 52px;
}

h2 {
  margin-top: 20px;
}

.FAQQuestion {
  width: 650px;
}

.FAQQuestion img {
  width: 20%;
}
