.NotFoundContainer {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
}

.NotFoundText {
  font-size: 72px;
}

.NFText {
  margin-right: 120px;
}
