.card {
  border-radius: 8px;
  padding: 1%;
  margin: 10%;
  text-align: center;
  width: 20%;
  background-color: white;
}

.card_body {
  display: flex;
  justify-content: space-around;
}

.photo {
  width: 100%;
}

.col-md-4 .col-sm-6 .card {
  height: 400px;
}
