.img {
  width: 40%;
}


.card {
  border: solid;
  width: 20%;
  padding: 1%;
  margin: 10%;
  text-align: center;
}


.card_button1 {
  padding: 2%;
  margin-top: 3%;
  width: 40%;
}

.card_button2 {
  padding: 2%;
  margin-left: 7%;
  margin-top: 3%;
  width: 40%;
}

