.footer {
  padding-top: 1%;
  padding-bottom: 0.5%;
  border-top: 1px solid;
  width: 100%;
  margin: 0 auto;
}

.block {
  width: 50%;
  padding-bottom: 1%;
}

.block2 {
  width: 80%;
  height: 20vh;
  padding-bottom: 1%;
  margin: 0 auto;
}

.block h3 {
  padding-bottom: 10px;
  text-align: center;
}

.block li {
  padding-bottom: 10px;
}

.block ul {
  list-style-type: none;
  text-align: center;
}

.line {
  width: 70%;
  border-bottom: 2px solid black;
  margin: 0 auto;
}

.links {
  padding-top: 30px;
  padding-bottom: 15px;
}

.cg {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.cg a {
  padding-left: 2%;
  padding-right: 2%;
}

.w55 {
  width: 55%;
}

.w80 {
  width: 80%;
}

.w40 {
  width: 40%;
}

.w100 {
  width: 100%;
}

.flexer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.marque {
  padding-top: 30px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.marg {
  margin: 0 auto;
}

/* _________ responsive ___________ */

@media only screen and (min-width: 960px) {
  /* styles for browsers larger than 960px; */
}
@media only screen and (min-width: 1440px) {
  /* styles for browsers larger than 1440px; */
}
@media only screen and (min-width: 2000px) {
  /* for sumo sized (mac) screens */
}
@media only screen and (max-device-width: 480px) {
  /* styles for mobile browsers smaller than 480px; (iPhone) */
}
@media only screen and (device-width: 768px) {
  /* default iPad screens */
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* For landscape layouts only */
}
