.header img {
  width: 100px;
  height: 13px;
}

.container {
  width: 70%;
}

a {
  text-decoration: none;
  color: white;
}

.menu_gauche {
  margin-left: 5%;
  margin-top: 1%;
}

/* ------------------------------Nav------------------------ */
nav {
  background-color: #1f5bfa;
  position: relative;
  width: 100%;
}

.container-flexer {
  display: flex;
  justify-content: space-between;
}

nav .menu2 {
  width: 20%;
  text-align: right;
}

.menu2 {
  display: flex;
  justify-content: space-around;
  margin-right: 5%;
  margin-top: 1%;
}

.menu1 li {
  list-style-type: none;
  margin-left: 60px;
  margin-top: 3%;
}

nav a {
  font-size: 13px;
  padding: 15px 0;
  text-align: center;
  position: relative;
}

.test {
  position: absolute;
  height: 5px;
  width: 100%;
  background-color: white;
  bottom: 0;
  opacity: 0;
  transition: 0.5s;
}

nav a:hover .test {
  opacity: 1;
}

.button1 {
  width: 40%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: white;
  font-size: 15px;
  color: #1f5bfa;
  margin-top: 2%;
}
