.header img {
  width: 100px;
  height: 13px;
}

.container {
  width: 70%;
}

a {
  text-decoration: none;
  color: black;
}

.menu_gauche {
  margin-left: 5%;
}


/* ------------------------------Nav------------------------ */
nav {
  background-color: #f2f2f2;
  position: relative;
  width: 100%;
}

.container-flexer {
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
}

nav .menu2 {
  width: 30%;
  text-align: right;
}

.menu2 {
  display: flex;
  justify-content: space-around;
}

.menu1 li {
  list-style-type: none;
  margin-left: 60px;
  margin-top: 3%;
}

nav a {
  font-size: 15px;
  padding: 15px 0;
  text-align: center;
  position: relative;
}


.test {
  position: absolute;
  height: 5px;
  width: 100%;
  background-color: black;
  bottom: 0;
  opacity: 0;
  transition: 0.5s;
}

nav a:hover .test {
  opacity: 1;
}
