.header {
  padding: 25px 0;
  text-align: center;
  background: #222;
}
.header img {
  width: 100px;
  height: 13px;
}

.container {
  margin: 0 auto;
  width: 70%;
}
a {
  text-decoration: none;
  color: black;
}
.flexer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
/* ------------------------------Nav------------------------ */
nav {
  background-color: #f2f2f2;
  position: relative;
  width: 100%;
}
nav ul {
  width: 40%;
}
nav .menu2 {
  width: 50%;
  text-align: right;
}
.menu1 li {
  list-style-type: none;
  width: 30%;
}

nav a {
  display: block;
  font-size: 20px;
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.test {
  position: absolute;
  height: 5px;
  width: 100%;
  background-color: white;
  bottom: 0;
  opacity: 0;
  transition: 1s;
}
nav a:hover .test {
  opacity: 1;
}
